---
title: "Slidewiki - Information for Developers"
description: "Information for Developers at Slidewiki"
author: rm
---

<!DOCTYPE html>

<html lang="en">

{% include head.html %}

<body>

    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="//slidewiki.eu"><b>Slidewiki</b></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#cs">Client-Server</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#frontend">The Frontend</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Our Microservices</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#opensource">How to Contribute</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#team">Persons of Contact</a>
                    </li>
                    <li>
                        <a href="/blog">Blog</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div id="headerwrap">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h1>Information on our design approach</h1>
                    <br>
                    <ul class="listing">
                        <li>What's behind the scenes?</li>
                        <li>Which frameworks do we use and why?</li>
                        <li>I want to contribute! Where can I start?</li>
                    </ul>
                    <br>
                    <h4 style="color:white">We want to answer these questions and also the most important question in life: where to grab the next (irish) coffee :P</h4>
                    <br>
                    <br>
                </div>
                <!-- /col-lg-6 -->
                <div class="col-lg-6">
                    <img id="logo" src="/ressources/images/logo.png" alt="super cool picture">
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /headerwrap -->


    <div id="cs" class="container">

        <div class="row mt centered">
            <div class="col-lg-6 col-lg-offset-3">
                <h1>Client-Server Architecture</h1>
                <h3>We've settled on the Client-Server Architecture for our whole project. Trying to do something cool, we've exchanged the roles of each other ... just kidding ;)</h3>
            </div>
        </div>
        <!-- /row -->

        <div class="row mt centered">

            <div class="col-lg-4">
                <img src="/ressources/icons/website.png" width="128" height="128" alt="">
                <h4>WebApp</h4>
                <hr>
                <p>Slidewiki is basically a web-application built with HTML, CSS and Javascript. Because there are so many cool developers and frameworks out there, we were able to develop a userfriendly and modern UI that can be simply customized to the
                    ground.
                </p>
                <p> We're using <a href="//facebook.github.io/react/" target="_blank">React</a> for our frontend, <a href="http://fluxible.io/" target="_blank">Fluxible</a> as our programming paradigma and <a href="//nodejs.org/en/" target="_blank">NodeJS</a>                    as our base technology layer. Most jobs are executed at your machine - the client - and we're running a whole system of <a href="//en.wikipedia.org/wiki/Microservices" target="_blank">microservices</a> to keep you consistent and up
                    to date.</p>
            </div>
            <!--/col-lg-4 -->

            <div class="col-lg-4">
                <img src="/ressources/icons/server.png" width="128" height="128" alt="">
                <h4>Server</h4>
                <hr>
                <p>Several <a href="//en.wikipedia.org/wiki/Microservices" target="_blank">microservices</a> are running on our distributed server system, all written in Javascript on top of <a href="//nodejs.org/en/" target="_blank">NodeJS</a>. We're using
                    the
                    <a href="//hapijs.com/" target="_blank">Hapi Framework</a> to build battle tested services in conjunction with state of the art software of the node community, like <a href="//github.com/hapijs/joi" target="_blank">Joi</a> and <a href="//swagger.io/"
                        target="_blank">Swagger</a>. All our services expose a HTTP-Rest API, that can deliver and consume JSON formatted data.</p>
                <p>Our main server system is located in germany at the <a href="//www.fit.fraunhofer.de/en.html" target="_blank">Fraunhofer Institute for Applied Information Technology (FIT)</a>. Thanks for that!</p>
            </div>
            <!--/col-lg-4 -->

            <div class="col-lg-4">
                <img src="/ressources/icons/app.png" width="128" height="128" alt="">
                <h4>Buzzwords</h4>
                <hr>
                <p>We're using an <i>isomorphic programming paradigma</i> that was developed at Facebook and called <a href="http://fluxible.io/" target="_blank">Fluxible</a> to handle capable as well as not so capable (or lets call them dumb) clients. It's
                    mainly a conjunction of Facebooks <a href="//facebook.github.io/react/" target="_blank">React</a> framework and Facebooks <a href="//facebook.github.io/flux/" target="_blank">Flux</a> data flow paradigma, baked together into one Framework.</p>
                <p>On the other side, we're using <a href="//en.wikipedia.org/wiki/Microservices" target="_blank">microservices</a> that were developed on top of an <i>agile process</i>. These services are combined with <a href="//en.wikipedia.org/wiki/Continuous_integration"
                        target="_blank">Continuous Integration</a> and <a href="//en.wikipedia.org/wiki/Continuous_delivery" target="_blank">Delivery/Deployment</a> to focus our devs on what's important: <a href="//en.wikipedia.org/wiki/Coffee" target="_blank">coffee</a>                    and
                    <a href="//en.wikipedia.org/wiki/Beer" target="_blank">beer</a>! ;)</p>
            </div>
            <!--/col-lg-4 -->
        </div>

        <hr>
    </div>
    <!-- /container -->


    <div id="frontend" class="container">
        <div class="row mt centered">
            <div class="col-lg-6 col-lg-offset-3">
                <h1>Our Frontend</h1>
                <h3>A WebApp thats so freacking state of the art and runs on every device!</h3>
            </div>
        </div>
        <!-- /row -->

        <div class="row mt centered">

            <div class="col-lg-8">
                <img src="/ressources/images/frontend.png" alt="super cool picture" style="height: 450px;">
            </div>

            <div class="col-lg-4">
                <p>Like I said a little earlier, our frontend builds up on <a href="http://fluxible.io/" target="_blank">Fluxible</a> and <a href="//nodejs.org/en/" target="_blank">NodeJS</a>. So it's basically a responsive Web-Application that runs in your
                    browser, but can also be rendered on serverside. In conjunction to these base technolgies we're using a whole stack of third party libraries to enable our users to display and edit slides, to communicate with each other, to import
                    different data types and much more.</p>
                <p>The most computations are executed inside your browser, so we're able to use your computing power. More complex tasks are delegated to a system of microservices, that were enslaved by us. We've captured these in wilderness and trained
                    them *that was hard work* to support you in each and every situation...well, at least when using our platform ;)</p>
            </div>
        </div>
        <!-- /row -->
        <hr>
    </div>
    <!--/container -->

    <div id="services" class="container">
        <div class="row mt centered">
            <div class="col-lg-6 col-lg-offset-3">
                <h1>Microservices</h1>
                <h3>Cutting edge technology, cool programming language, frameworks that are worth a second glance and interesting functionalities</h3>
            </div>
        </div>
        <!-- /row -->

        <div class="row mt centered">
            <div class="col-lg-4">
                <p>We're running a service that builds the latest version of our UI just for you! It's also the part where all the isomorphic stuff comes together. After your client (like your browser) has recieved the WebApp, your client will talk (gently!)
                    to all these fantastic microservices that are running inside this ominous cloud (beware on rainy weather :P). All our services are backed by a capable Nginx <a href="//de.wikipedia.org/wiki/Reverse_Proxy" target="_blank">Reverse-Proxy</a>                    server, that imitates a central service API, composed of all these individual services.</p>
                <p>We're using <a href="//www.docker.com/" target="_blank">Docker</a> for virtualisation, <a href="//newrelic.com/" target="_blank">NewRelic</a> as our monitoring solution and <a href="//orce.snap-ci.com/" target="_blank">Snap-CI</a> to perform
                    <a href="//en.wikipedia.org/wiki/Continuous_integration" target="_blank">Continouos Integration</a> and <a href="//en.wikipedia.org/wiki/Continuous_delivery" target="_blank">Delivery/Deployment</a>. Everythings running on virtual machines
                    that are using <a href="//en.wikipedia.org/wiki/Linux" target="_blank">tux super powers</a> ;)</p>
                <p>Since we're an Open-Source project, every little piece of code we've written is licensed by <a href="//en.wikipedia.org/wiki/Mozilla_Public_License" target="_blank">MPL 2.0</a> and is accessible at <a href="//github.com/slidewiki" target="_blank">Github</a>.</p>
            </div>

            <div class="col-lg-8">
                <img src="/ressources/images/Microservices.svg" width="100%">
            </div>

        </div>
        <!-- /row -->
        <hr>
    </div>
    <!--/container -->

    <div id="opensource" class="container">
        <div class="row mt centered">
            <div class="col-lg-8 col-lg-offset-2">
                <h1>You want to contribute?</h1>
                <h4>Spend me a beer and some fries and your in ;) - just kiddding :P</h4>
            </div>
        </div>
        <!-- /row -->

        <div class="row mt centered">
            <div class="col-lg-4">
                <h4>Everything we do is hosted on <i>Github</i>. Regardless of whether you're intersted in how we've solved some tricky problems or you wanna fix all these (non existent :P) bugs: just have a look!</h4><i>Even when your not one of those geeky programmers, you can have a look at all this interesting stuff like diagrams, a commit log, our wiki and our issure tracker</i>
                <br>
                <br>
                <a href="//github.com/slidewiki" target="_blank" class="btn btn-warning" role="button"><i class="fa fa-fw fa-lg fa-github"></i>Let's go to Github</a>
            </div>
            <!--/col-lg-4 -->

            <div class="col-lg-4">
                <h4>Since we're developing <i>WebApps</i> and <i>WebServices</i>, we always need someone who's interested in driving things further. Do you wanna extend our software, implement this super cool new concept or fix a bug? Don't by shy - we're not biting;)</h4><i>We're always on the search for interested students that want to do their Bachelor's or Master's Thesis by contributing to our project. Don't hesitate to ask!</i>
                <br>
                <a href="javascript:linkTo_UnCryptMailto('rfnqyt?wt~2rjnxxsjwElr}3sjy', 5);" target="_blank" class="btn btn-warning" id="btn-1" role="button"><i class="fa fa-fw fa-lg fa-envelope"></i>Send us an email</a>
            </div>
            <!--/col-lg-4 -->

            <div class="col-lg-4">
                <h4>You've got a super cool idea on how to <i>redesign</i> a component or your interested in <i>spreading the word</i>? Perfect! We look forward to get suggestions, poster proposals, icons and much more =)</h4><i>Well, I don't really know what to say in this case, so I'm answering the biggest question of all times: You can grab a nice irish coffee at our favored pub - the KilliWilly</i>
                <br>
                <a href="http://www.killiwilly.de/" target="_blank" class="btn btn-warning" id="btn-2" role="button"><i class="fa fa-fw fa-lg fa-beer"></i>KilliWilly</a>
            </div>
            <!--/col-lg-4 -->
        </div>
        <!-- /row -->
        <hr>
    </div>
    <!--/container -->

    <div id="team" class="container">
        <div class="row mt centered">
            <div class="col-lg-6 col-lg-offset-3">
                <h1>Persons of Contact</h1>
            </div>
        </div>
        <!-- /row -->

        <div class="row mt centered" id="members">
            <div class="col-lg-4">
                <img class="img-circle" src="//avatars3.githubusercontent.com/u/2254157?v=3&s=460" width="140" alt="">
                <h4>Ali Khalili</h4>
                <p>Frontend Service
                    <br> Architecture Lead
                </p>
                <p>
                    <i><a href="//ali1k.com" target="_blank"><i class="fa fa-lg fa-globe"></i></a>
                    </i>
                </p>
            </div>
            <!--/col-lg-4 -->
            <div class="col-lg-4">
                <img class="img-circle" src="//avatars2.githubusercontent.com/u/855967?v=3&s=460" width="140" alt="">
                <h4>Roy Meissner</h4>
                <p>Microservices
                    <br> Continuous Lifecylce
                </p>
                <p><i><a href="javascript:linkTo_UnCryptMailto('rfnqyt?wt~2rjnxxsjwElr}3sjy', 5);"><i class="fa fa-lg fa-envelope"></i></a>
                    </i> <i><a href="//rmeissn.github.io" target="_blank"><i class="fa fa-lg fa-globe"></i></a>
                    </i>
                </p>
            </div>
            <div class="col-lg-4">
                <img class="img-circle" src="//avatars2.githubusercontent.com/u/191586?v=3&s=460" width="140" alt="">
                <h4>Benjamin Wulff</h4>
                <p>Tetris Buddhist
                    <br> Scrum Master
                </p>
                <p><i><a href="//github.com/bwulff" target="_blank"><i class="fa fa-lg fa-globe"></i></a>
                    </i>
                </p>
            </div>
            <!--/col-lg-4 -->
        </div>
        <!-- /row -->
        <hr>
    </div>
    <!-- /container -->
    <div class="scroll-top-wrapper ">
        <i class="fa fa-2x fa-arrow-circle-up"></i>
    </div>

    {% include footer.html %} {% include scripts.html %}
</body>

</html>
