<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script type="application/javascript" src="//code.jquery.com/jquery-2.1.4.min.js"></script>
<script type="application/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<script type="application/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" defer></script>
<script type="application/javascript" src="{{ " /ressources/js/docs.min.js " | prepend: site.baseurl }}"></script>
<script type="application/javascript" src="{{ " /ressources/js/prettify.js " | prepend: site.baseurl }}"></script>
<script type="application/javascript">
    function UnCryptMailto(s, shift) {
        var n = 0;
        var r = "";
        for (var i = 0; i < s.length; i++) {
            n = s.charCodeAt(i);
            if (n >= 8364) n = 128;
            r += String.fromCharCode(n - (shift));
        }
        return r;
    }

    function linkTo_UnCryptMailto(s, shift) {
        location.href = UnCryptMailto(s, shift);
    }

    // jQuery for page scrolling feature - requires jQuery Easing plugin
    $('a.page-scroll').bind('click', function(event) {
        var $anchor = $(this);
        $('html, body').stop().animate({
            scrollTop: $($anchor.attr('href')).offset().top
        }, 1500, 'easeInOutExpo');
        event.preventDefault();
    });

    // Closes the Responsive Menu on Menu Item Click
    $('.navbar-collapse ul li a').click(function() {
        $('.navbar-toggle:visible').click();
    });

    $(document).on('scroll', function() {
        if ($(window).scrollTop() > 100) {
            $('.scroll-top-wrapper').addClass('show');
        } else {
            $('.scroll-top-wrapper').removeClass('show');
        }
    });

    $('.scroll-top-wrapper').on('click', scrollToTop);

    function scrollToTop() {
        verticalOffset = typeof(verticalOffset) != 'undefined' ? verticalOffset : 0;
        element = $('body');
        offset = element.offset();
        offsetTop = offset.top;
        $('html, body').animate({
            scrollTop: offsetTop
        }, 500, 'linear');
    }
</script>
